<ion-pane>
  <ion-header-bar>
    <div class="buttons">
      <button class="button font-size-twenty-three" ng-click="doSomething()">
          <i class="ion-navicon-round"></i>
      </button>
    </div>
    
    <h1 class="title text-align-center">
      <img src="img/ewalls.png" alt="">
    </h1>
    <div class="buttons">
      <button class="button font-size-twenty-three" ng-click="doSomething()">
            <i class="ion-android-search"></i>
      </button>
      <button class="button font-size-twenty-three" ng-click="doSomething()">
            <i class="ion-ios-cart"></i>
      </button>
    </div>
  </ion-header-bar>


  <ion-content class="has-header">
    Some content!
  </ion-content>
</ion-pane>