<ion-view view-title="User">
  <ion-content>
    <ion-list>
      <ion-item>
        firstname  - {{currentUserInfo.firstname}}
      </ion-item>
      <ion-item>
        lastname  - {{currentUserInfo.lastname}}
      </ion-item>
      <ion-item>
       nickname -  {{currentUserInfo.nickname}}
      </ion-item>
      <ion-item>
        displayname - {{currentUserInfo.displayname}}
      </ion-item>
      <ion-item>
       registered -  {{currentUserInfo.registered}}
      </ion-item>
      <ion-item>
        email - {{currentUserInfo.email}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
