<!-- <img src="/images/logo.jpg" alt="Responsive image" style="height: 96px;width: 363px;">
<div class="container">
  <form class="form-signin" ng-submit="forgotPassword(email)">
     <fieldset>
        <div style="text-align:center;">
         <img alt="" src="http://0.gravatar.com/avatar/39c1bd42f9d28be4e8f22168a7ab8316?s=60&amp;d=mm&amp;r=g" srcset="http://0.gravatar.com/avatar/39c1bd42f9d28be4e8f22168a7ab8316?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60"> 
        </div>
        <h2 class="form-signin-heading">Forgot Password</h2>
        <p style="font-size: smaller;color: cadetblue;">Type your email-id in the field below to receive password reset link by email</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Forgot Password</button>
     </fieldset>
  </form>
</div> -->




<div class="container">
    
    
    <section>               
        <div id="container_demo" >
           
            <!-- <a class="hiddenanchor" id="toregister"></a> -->
            <!-- <a class="hiddenanchor" id="tologin"></a> -->

            <div id="wrapper">
                <div class="animate form">
                    <form autocomplete="off" ng-submit="forgotPassword(email)"> 
                        <h1>Forgot Password</h1> 
                        <p style="color: rgb(6, 106, 117);">Type your email-id in the field below to receive password reset link by email</p>
                        <p> 
                            <label for="username" class="uname" style="color: rgb(6, 106, 117);">Your email address</label>
                            <input ng-model="email" id="username" name="username" required="required" type="email" placeholder="Email address" />
                        </p>
                        
                       <button class="btn btn-lg btn-primary btn-block" type="submit" >Forgot Password</button>
                    </form>
                </div>
            </div>
        </div>  
    </section>
</div>