<!-- <div>
    <form class="form-inline" ng-submit="login(cred)">
	   <img src="/images/logo.jpg" alt="Responsive image" style="height: 60px;    width: 350px;">
		  <div style="float: right;">
		  	  <div class="form-group">
		  	  	<input ng-model="cred.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="off">
			  </div>
			  <div class="form-group">
			    <input ng-model="cred.password" type="password" class="form-control" id="password" placeholder="password" required autocomplete="off">
			  </div>
			  <button type="submit" class="btn btn-default">Login</button>	
		  </div>
	</form>
</div>
<br><br><br>
<div class="container">
    <form name="myForm" class="form-signin" ng-submit="register(regCred)">
        <fieldset>
            <h2 class="form-signin-heading">Register</h2>
            <br>
            <label for="firstname" class="sr-only">First name</label>
            <input ng-model="regCred.firstname" type="text" id="firstname" class="form-control" placeholder="First name" required autofocus autocomplete="off">
            <br>
            <label for="lastname" class="sr-only">Last name</label>
            <input ng-model="regCred.lastname" type="text" id="lastname" class="form-control" placeholder="Last name" autocomplete="off">
            <br>
            <label for="mobile" class="sr-only">Mobile</label>
            <input ng-model="regCred.mobile" type="text" id="mobile" class="form-control" placeholder="Mobile" required autocomplete="off">
            <br>
            <label for="email" class="sr-only">Email</label>
            <input ng-model="regCred.email" type="email" id="email" class="form-control" placeholder="Email" required autocomplete="off">
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="regCred.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="off">
            <br>
            
            <label for="age" class="sr-only">age</label>
            <input ng-model="regCred.age" type="text" id="age" class="form-control" placeholder="age" autocomplete="off"><br>

            <label for="martial_status" class="sr-only">martial_status</label>
            <input ng-model="regCred.martial_status" type="text" id="martial_status" class="form-control" placeholder="martial_status" autocomplete="off"><br>

            <label for="height" class="sr-only">height</label>
            <input ng-model="regCred.height" type="text" id="height" class="form-control" placeholder="height" autocomplete="off"><br>

            <label for="body_type" class="sr-only">body_type</label>
            <input ng-model="regCred.body_type" type="text" id="body_type" class="form-control" placeholder="body_type" autocomplete="off"><br>

            <label for="any_disability" class="sr-only">any_disability</label>
            <input ng-model="regCred.any_disability" type="text" id="any_disability" class="form-control" placeholder="any_disability" autocomplete="off"><br>

            <label for="weight" class="sr-only">weight</label>
            <input ng-model="regCred.weight" type="text" id="weight" class="form-control" placeholder="weight" autocomplete="off"><br>

            <label for="religion" class="sr-only">religion</label>
            <input ng-model="regCred.religion" type="text" id="religion" class="form-control" placeholder="religion" autocomplete="off"><br>

            <label for="interest" class="sr-only">interest</label>
            <input ng-model="regCred.interest" type="text" id="interest" class="form-control" placeholder="interest" autocomplete="off"><br>

            <label for="hobbies" class="sr-only">hobbies</label>
            <input ng-model="regCred.hobbies" type="text" id="hobbies" class="form-control" placeholder="hobbies" autocomplete="off"><br>
         
            <label>
                <input ng-model="regCred.male" type="checkbox" value="male" autocomplete="off"> Male
                <input ng-model="regCred.female" type="checkbox" value="female" autocomplete="off"> Female
                <br>
                <input ng-model="regCred.subscribe" type="checkbox" value="subscribe" autocomplete="off">Subscribe
            </label>
            <br>   
           <input type="file" file-model="regCred.file" autocomplete="off">
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </fieldset>
    </form>
</div> -->




<div id="container">
  <div id="header">
    <div id="login_box">
      <form ng-submit="login(cred)">
        <label>Email</label>
        <input ng-model="cred.email" class="inputfield" name="email_address" type="text" />
        &nbsp;&nbsp;&nbsp;
        <label>Password</label>
        <input ng-model="cred.password" class="inputfield" name="password" type="password" />
        <input class="button" type="submit" name="Submit" value="" />
      </form>
      <a href="/signup">Sign up</a> </div>
    <!-- end of login box -->
  </div>
  <!-- end of header -->
  <div id="menu">
    <ul>
      <li><a href="#" class="current">Home</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Successful Stories</a></li>
      <li><a href="#">Last Added</a></li>
      <li><a href="#">Your Profile</a></li>
      <li><a href="#">Company</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <!-- end of menu -->
  <div id="content">
    <div id="content_left">
      <div class="content_left_section_01">
        <div class="welcome_title"></div>
        <!-- <h1>Welcome to our Dating website!</h1> -->
        <img src="images/image_02.jpg" alt="" style="float: right" />
        <h4>Start your search for love
with a dating site that’s right for you. </h4>
        <p> Every year, hundreds of thousands of singles find their one and only online at dating agency. Offering advanced search options, unlimited two-way chatting, free photo profiles and personalized voice greetings, dating agency continues to redefine the way singles meet, date and fall in love.
Ranked by Comscore Mediamatrix® and Neilsen Netratings® among the top 5 mainstream dating sites on the planet, dating agency has over 36.5 million members, with tens of thousands of singles joining daily.</p>
      </div>
      <div class="cleaner_with_divider">&nbsp;</div>
      <div class="content_left_section_02">
        <div class="latest_profile_title">Latest Members</div>
        <div class="latest_profile_box"> <img src="images/image_03.jpg" alt="" />
          <div class="name">Donec a purus vel</div>
          Age: 18<br />
          Mauris pede nisl, placerat nec, lobortis vitae.<br />
          <div class="readmore"><a href="#">Details &raquo;</a></div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="latest_profile_box"> <img src="images/image_04.jpg" alt="" />
          <div class="name">Sed pellentesque</div>
          Age: 24<br />
          Suspendisse ac magna quis est eleifend dictum.<br />
          <div class="readmore"><a href="#">Details &raquo;</a></div>
        </div>
        <div class="cleaner_with_height">&nbsp;</div>
        <div class="latest_profile_box"> <img src="images/image_05.jpg" alt="" />
          <div class="name">Sed justo dolor</div>
          Age: 22<br />
          Morbi nec magna pulvinar mi scelerisque posuere.<br />
          <div class="readmore"><a href="#">Details &raquo;</a></div>
        </div>
        <div class="cleaner_with_width">&nbsp;</div>
        <div class="latest_profile_box"> <img src="images/image_06.jpg" alt="" />
          <div class="name">Quisque ut odio</div>
          Age: 20<br />
          Fusce non lacus et lorem ornare interdum.<br />
          <div class="readmore"><a href="#">Details &raquo;</a></div>
        </div>
        <div class="cleaner">&nbsp;</div>
        <span></span> </div>
      <!-- end of section 2 -->
    </div>
    <!-- end of content left -->
    <div id="content_right">
      <div id="templatmeo_quick_search">
        <h1>Quick Search</h1>
        <form method="get" action="#">
          <div class="form_row">
            <label style="display: initial;">I am</label>
            <select name="i_am" style="color: black;">
              <option>man</option>
              <option>woman</option>
            </select>
            &nbsp;&nbsp;
            <label style="display: initial;">Seeking</label>
            <select name="seeking" style="color: black;">
              <option>man</option>
              <option>woman</option>
            </select>
          </div>
          <div class="form_row">
            <label style="display: initial;">Looking for</label>
            <select name="seeking" style="color: black;">
              <option>friendship</option>
              <option>a date</option>
            </select>
          </div>
          <div class="form_row">
            <label style="display: initial;">I was born</label>
            <select name="day" style="color: black;">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
            <select name="month" style="color: black;">
              <option>Jan</option>
              <option>Feb</option>
              <option>Mar</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
            <input class="inputfield" name="year" type="text" value="year" style="width:50px;"   onfocus="clearText(this)" onblur="clearText(this)" />
          </div>
          <div class="form_row">
            <label style="display: initial;">By Profile</label>
            <input class="inputfield" name="email_address" type="text" />
          </div>
          <div class="form_row">
            <label style="display: initial;">Show Photo</label>
            <input type="checkbox" name="option1" />
          </div>
          <input style="color: black;" type="submit" value="Submit" id="Submit" />
        </form>
        <div class="cleaner">&nbsp;</div>
        <span></span> </div>
      <!-- end of quick search -->
      <div class="content_right_section">
        <h1>Successful Stories</h1>
        <img src="images/image_01.jpg" alt="" />
        <h2>Vestibulum auctor odio eget</h2>
        <p>Quisque dictum pharetra neque. Aliquam pretium porta odio. Fusce quis diam sit amet tortor luctus pellentesque. </p>
        <a href="#" class="readmore">Read more &raquo;</a> </div>
    </div>
    <!-- end of content right -->
    <div class="cleaner_with_height">&nbsp;</div>
  </div>
  <!-- end of content -->
  <!-- <div id="footer">
    <div style="clear: both; margin-bottom: 10px;"> <a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="" width="88" height="31" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="" vspace="8" border="0" /></a> </div>
    <a href="#">Home</a> | <a href="#">Search</a> | <a href="#">Terms of use</a> | <a href="#">Privacy Policies</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
    Copyright &copy; 2024 <a href="#"><strong>Your Company Name</strong></a> | Designed by <a target="_blank" rel="nofollow" href="http://www.templatemo.com">templatemo</a> </div> -->
  <!-- end of footer -->
</div>


























    
    
<!-- <div class="container">
    
    <header>
        <h1 style="text-align: center;color: rgb(74, 179, 198);">Join the best dating site on Earth.</h1>
    </header>
    <section>               
        <div id="container_demo" >
           
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form">
                    <form autocomplete="off" ng-submit="login(cred)"> 
                        <h1>Log in</h1> 
                        <p> 
                            <label for="username" class="uname" >Your email or username</label>
                            <input ng-model="cred.email" id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                        </p>
                        <p> 
                            <label for="password" class="youpasswd" >Your password</label>
                            <input ng-model="cred.password" id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                        </p>
                       <a href="/forgotpassword">Forgot Password?</a><br>
                        <p class="login button"> 
                            <input type="submit" value="Login" /> 
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#toregister" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>


                <div id="register" class="animate form">
                    <form autocomplete="off" ng-submit="register(regCred)"> 
                        <h1> Registration </h1> 

                        <p>
                            <label for="firstname">First name</label>
                            <input ng-model="regCred.firstname" type="text" id="firstname" placeholder="First name" required autofocus autocomplete="off">
                        </p>

                        <p>
                            <label for="lastname">Last name</label>
                            <input ng-model="regCred.lastname" type="text" id="lastname" class="form-control" placeholder="Last name" autocomplete="off">
                            
                        </p>

                        <p>
                            <label for="mobile">Mobile</label>
                            <input ng-model="regCred.mobile" type="text" id="mobile" class="form-control" placeholder="Mobile" required autocomplete="off">
                            
                        </p>

                        <p>                            
                            <label for="email">Email</label>
                            <input ng-model="regCred.email" type="email" id="email" class="form-control" placeholder="Email" required autocomplete="off">
                            
                        </p>

                        <p>
                            <label for="inputPassword">Password</label>
                            <input ng-model="regCred.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autocomplete="off"> 
                            
                        </p>

                        <p>
                            <label for="age">Age</label>
                            <input ng-model="regCred.age" type="text" id="age" class="form-control" placeholder="age" autocomplete="off"><br>
                            
                        </p>

                        <p>
                            <label for="height">Height</label>
                            <input ng-model="regCred.height" type="text" id="height" class="form-control" placeholder="height" autocomplete="off">
                            
                        </p>

                        <p>
                            <label for="body_type">Body Type</label>
                            <input ng-model="regCred.body_type" type="text" id="body_type" class="form-control" placeholder="Body Type" autocomplete="off">
                            
                        </p>

                        <p>
                            <label for="weight">Weight</label>
                            <input ng-model="regCred.weight" type="text" id="weight" class="form-control" placeholder="weight" autocomplete="off">                          
                        </p>

                        <p>    
                          <label for="religion">Religion</label>
                            <input ng-model="regCred.religion" type="text" id="religion" class="form-control" placeholder="religion" autocomplete="off">  
                        </p>

                        <p>
                         <label for="interest">Interest</label>
                        <input ng-model="regCred.interest" type="text" id="interest" class="form-control" placeholder="interest" autocomplete="off">   
                            
                        </p>

                        <p>
                            <label for="hobbies">Hobbies</label>
                            <input ng-model="regCred.hobbies" type="text" id="hobbies" class="form-control" placeholder="hobbies" autocomplete="off"><br>

                        </p>

                         <p>
                            <label>Upload Pic</label>
                            <input type="file" file-model="regCred.file" autocomplete="off">
                        </p>

                        <div class="gender">
                            <div style="float: left;">
                                <input ng-model="regCred.gender" type="radio" value="male" id="male" checked/>
                                <label for="male" class="radio" style="font-size: 20px;">Male</label>
                            </div>
                            <div style="float: left;">
                                <input ng-model="regCred.gender" type="radio" value="female" id="female" />
                                <label for="female" class="radio" style="font-size: 20px;">Female</label>
                            </div>
                        </div>
                       
                        <p class="signin button"> 
                            <input type="submit" value="Register"/> 
                        </p>
                        <p class="change_link">  
                            Already a member ?
                            <a href="#tologin" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
                
            </div>
        </div>  
    </section>
</div> -->
    



