<div class="container">
      <form class="form-signin" ng-submit="resetPassword(cred)">
        <h2 class="form-signin-heading">Reset Password</h2>      

        <label for="newPassword" class="sr-only">New Password</label>
        <input ng-model="cred.newPass1" type="password" id="newPassword" class="form-control" placeholder="New Password" required>

        <label for="reEnterNewPassword" class="sr-only">Re-Enter New Password</label>
        <input ng-model="cred.newPass2" type="password" id="reEnterNewPassword" class="form-control" placeholder="Re-Enter New Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      </form>
    </div>