<nav>   
    <div id="navbar" class="navbar-collapse collapse">
     <img src="/images/logo.jpg" alt="Responsive image" style="height: 60px;    width: 350px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Membership</a></li>
              <li><a href="#" ng-click="logout()">logout</a></li>
            </ul>
         </li>
      </ul> 
      <img alt="" ng-src="{{userimg}}" class="avatar avatar-60 photo navbar-right" height="50" width="39.28">
    </div>
</nav>

<div class="row">
  <div class="col-sm-3" style="margin-left: 1%;">
    <div class="panel panel-info">
      <div class="panel-heading">
        <a href="#" ng-click="home()"><h3 class="panel-title">Home</h3></a>
      </div>
      <div class="panel-heading">
        <a href="#"><h3 class="panel-title">Message</h3></a>
      </div>
      <div class="panel-heading">
        <a href="#" ng-click="showMyFriends()"><h3 class="panel-title">Friends</h3></a>
      </div>
      <div class="panel-heading">
        <a href="#" ng-click="showBlockedUsers()"><h3 class="panel-title">Blocks</h3></a>
      </div>
      <div class="panel-heading">
        <a href="#" ng-click="search()"><h3 class="panel-title">Search</h3></a>
      </div>

    </div>
  </div>

  <div class="col-sm-6" ng-show="showProgressBar">
    <div class="well">
      <span>0</span><span style="float: right;">100</span>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{profile_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{profile_complete}}%"><span>Profile {{profile_complete}}% Complete</span></div>
      </div>
      <div>
        <h3 class="text-muted">Profile Info</h3>
      </div>
      <div>
          <span class="text-muted"><span style="color: green;" ng-show="email_verified=='Completed'">&#x2713;</span><span style="color: red;" ng-show="email_verified=='Not Completed'">&#x2717; </span> Email Verification ({{email_verified}})</span>
      </div>
      <div>
        <span class="text-muted"><span style="color: green;" ng-show="image_uploaded=='Completed'">&#x2713;</span><span style="color: red;" ng-show="image_uploaded=='Not Completed'">&#x2717; </span> Image Uploaded ({{image_uploaded}})</span>
      </div>
      <div>
        <span class="text-muted"><span style="color: green;" ng-show="personal_detail=='Completed'">&#x2713;</span><span style="color: red;" ng-show="personal_detail=='Not Completed'">&#x2717; </span> Personal Detail ({{personal_detail}})</span>
      </div>
      <div>
        <span class="text-muted"><span style="color: green;" ng-show="subscription=='Completed'">&#x2713;</span><span style="color: red;" ng-show="subscription=='Not Completed'">&#x2717; </span> Paid Member ({{subscription}})</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6" ng-show="showUsersGridView">
      <div ng-repeat="user in myUsers" class="panel panel-info" style="float: left;width: 33.33%;">
        <a href="#" ng-click="hideUserTemporarily(user._id)" style="float: right;margin-right: 6px;font-size: smaller;color: lightblue;" title="Hide">x</a>
        <div style="text-align: center;">
          <img alt="" ng-src="/cfs/files/images/{{user.fileId}}" class="avatar avatar-60 photo" height="50" width="39.28">
            <br>
          {{user.username}}
          <br>
          <p style="float: left;margin: 15px;"><a href="#"><i class="glyphicon glyphicon-eye-open" title="View"></i></a></p> 
          <p style="float: left;margin: 15px;"><a href="#"><i class="glyphicon glyphicon-comment" title="Chat"></i></a></p> 
          <p style="float: left;margin: 15px;"><a href="#"><i class="glyphicon glyphicon-envelope" title="Email"></i></a></p> 
          <p style="float: left;margin: 15px;"><a href="#" ng-click="addBlock(user._id, user.fileId, user.username)"><i class="glyphicon glyphicon-ban-circle" title="Block"></i></a></p> 
          <p style="float: left;margin: 15px;"><a href="#" ng-click="addFriend(user._id, user.fileId, user.username)"><i class="fa fa-user-plus" aria-hidden="true" title="Add Friend"></i></a></p>
        </div>
      </div>
  </div>

  <div class="col-sm-6" ng-show="showUsersListView">
    <div class="list-group">
        <div ng-repeat="user in myUsers" class="panel panel-info">
            <a href="#" ng-click="hideUserTemporarily(user._id)" style="float: right;margin-right: 6px;font-size: smaller;color: lightblue;" title="Hide">x</a>
            <img alt="" ng-src="/cfs/files/images/{{user.fileId}}" class="avatar avatar-60 photo" height="50" width="39.28">
            {{user.username}}
            <p style="margin: 20px 5px 1px 5px;float: right;"><a href="#" ng-click="addFriend(user._id, user.fileId, user.username)"><i class="fa fa-user-plus" aria-hidden="true" title="Add Friend"></i></a></p> 
            <p style="margin: 20px 5px 1px 5px;float: right;"><a href="#"><i class="glyphicon glyphicon-ban-circle" title="Block"></i></a></p>
            <p style="margin: 20px 5px 1px 5px;float: right;"><a href="#"><i class="glyphicon glyphicon-envelope" title="Email"></i></a></p>
            <p style="margin: 20px 5px 1px 5px;float: right;"><a href="#"><i class="glyphicon glyphicon-comment" title="Chat"></i></a></p>
            <p style="margin: 20px 5px 1px 5px;float: right;"><a href="#"><i class="glyphicon glyphicon-eye-open" title="View"></i></a></p>
            
        </div>
    </div>
  </div>

  <div ng-show="currentUser && !showProgressBar && myUsers.length>0">
    <p style="float: left;margin: 4px;"><a class="btn btn-default" href="#" role="button" ng-show="showUsersGridView" ng-click="showListView()">Show List View</a></p>
    <p style="float: left;margin: 4px;"><a class="btn btn-default" href="#" role="button" ng-show="showUsersListView" ng-click="showGridView()">Show Grid View</a></p>
  </div>


  <div class="col-sm-6" ng-show="currentUser && showUsersGridView && myUsers.length==0">
    <h3>No Member Found</h3>
  </div>

  <div class="col-sm-6" ng-show="showFriendsGridView">
      <div ng-repeat="friend in myFriends" class="panel panel-info" style="float: left;width: 33.33%;">
        <a href="#" style="float: right;margin-right: 6px;font-size: smaller;color: lightblue;" title="Hide">x</a>
        <div style="text-align: center;">
          <img alt="" ng-src="/cfs/files/images/{{friend.friendFileId}}" class="avatar avatar-60 photo" height="50" width="39.28">
            <br>
          {{friend.friendUsername}}
          <br>
          <p style="float: left;margin: 15px 21px;"><a href="#"><i class="glyphicon glyphicon-eye-open" title="View"></i></a></p> 
          <p style="float: left;margin: 15px 21px;"><a href="#" ng-click="showChatView(friend._id, friend.friendUsername, friend.friendFileId)"><i class="glyphicon glyphicon-comment" title="Chat"></i></a></p> 
          <p style="float: left;margin: 15px 21px;"><a href="#"><i class="glyphicon glyphicon-envelope" title="Email"></i></a></p> 
          <p style="float: left;margin: 15px 21px;"><a href="#"><i class="glyphicon glyphicon-ban-circle" title="Block"></i></a></p> 
        </div>
      </div>
  </div>

  <div class="col-sm-6" ng-show="showBlockedGridView">
      <div ng-repeat="block in myBlocks" class="panel panel-info" style="float: left;width: 33.33%;">
        <a href="#" style="float: right;margin-right: 6px;font-size: smaller;color: lightblue;" title="Hide">x</a>
        <div style="text-align: center;">
          <img alt="" ng-src="/cfs/files/images/{{block.userFileId}}" class="avatar avatar-60 photo" height="50" width="39.28">
            <br>
          {{block.userUsername}}
          <br>
          <span style="text-align: center;margin: 30px;"><a href="#"><i class="glyphicon glyphicon-eye-open" title="View"></i></a></span> 
          <span style="text-align: center;margin: 30px"><a href="#"><i class="fa fa-unlock" aria-hidden="true" title="Un-Block"></i></a></span> 
        </div>
      </div>
  </div>


  <div class="wrapper_chat" ng-show="showUsersChatView">
    <div class="menu_chat">
        <p><img alt="" ng-src="/cfs/files/images/{{selectedUserFileId}}" class="avatar avatar-60 photo" height="50" width="39.28">&nbsp;&nbsp;&nbsp;{{selectedUserUsername}}</p>
        <!-- <p class="logout"><a id="exit" href="#">Exit Chat</a></p> -->
        <!-- <div style="clear:both"></div> -->
    </div>

    <div class="chatbox_chat" schroll-bottom="chats">
        <div class="messages" ng-repeat="chat in chats">
            <p>
                <span class="username">{{chat.currentUserName}}:</span>
                {{chat.message}}
                <span class="timestamp_chat">&ndash; <span am-time-ago="{{chat.createdAt}}"></span></span>
            </p>
        </div>
    </div>
     
    <form autocomplete="off" ng-submit="sendMessage(message)">
        <input type="text" class="usermsg_chat" size="63" ng-model="message" autocomplete="off" placeholder="Write a message" required autofocus value="none" />
        <!-- <input name="submitmsg" type="submit"  id="submitmsg" value="Send" /> -->
        <button style="width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;">Send</button>
    </form>

 </div>



</div>

